@import "../../../styles/_variables.scss";
@import "../../../styles/_functions.scss";

.setting-tile {
	padding: 2rem 3rem;
	background-color: $tertiary;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.15rem;

	.big-switch .form-check-input {
		width: 2.5em;
		height: 1.2em;
	}
}

@media (max-width: 576px) {
	.setting-tile {
		padding: 1.5rem 2rem;
		font-size: 1rem;
	}
	button {
		font-size: 1rem !important;
		padding: 0.75rem 1.25rem !important;
	}
}
