@import "../../../styles/variables";
@import "../../../styles/functions";

table * {
	background-color: $tertiary;

	thead,
	tr {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 1rem;
		justify-content: center;
		align-items: center;
	}

	th span {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 105%;
		letter-spacing: 0.1rem;
	}

	td {
		@include transition(all, 0.25s, ease-in-out);
		border: 0;
		color: $font-color;
		span {
			@include transition(all, 0.25s, ease-in-out);
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			margin-inline: auto;
			&:hover {
				background-color: $secondary !important;
				color: $primary !important;
				// height: 5rem;
				// width: 5rem;
			}
		}
	}
}

.pointer {
	cursor: pointer;
}

.upcoming-game-tile {
	width: 100%;
	display: flex;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 0.25rem;
	// border-bottom: 1px solid rgba($color: $font-color, $alpha: 0.15);
}

.upcoming-game-avatar {
	width: 90%;
	height: 9.75rem;
	border-radius: 1rem;
	object-fit: cover;
}
