@import "../../../styles/variables";
@import "../../../styles/functions";

.download-tile {
	@include transition();
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	padding-right: 2.5rem;
	border-radius: 1.25rem;
	width: 100%;
	background-color: $tertiary;
	// height: 8.5rem;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 10px rgba($color: rgb(227, 196, 168), $alpha: 0.4);
	}
}

.download-progress-bar-outer {
	height: 5px;
	// background-color: rgb(212, 212, 212);
	background-color: $font-color;
	border-radius: 5px;
	width: 90%;
	.download-progress-bar-outer {
		background-color: $primary;
		border-radius: 5px;
		height: 100%;
		width: 72%;
	}
}

.icons {
	@include transition();
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	padding: 5px;
	border-radius: 50%;

	&:hover {
		@include transition();
		background-color: rgba($color: $primary, $alpha: 0.9);
		color: white;
	}
}

button {
	@include transition();
}
