@import "../../../styles/variables";
@import "../../../styles/functions";

form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;

	input {
		background-color: transparent;
		border: none;

		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			border: none;
		}
		&::placeholder {
			color: $font-color;
		}
	}
}

@media (max-width: 576px) {
	form {
		width: 100%;
	}
}

.icons {
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		@include transition(all, 0.25s, ease-in-out);
		background: lighten($color: $light-tertiary, $amount: 7);
	}
}

.custom-drop-item {
	color: $font-color;
	&:hover {
		background: lighten($color: $light-tertiary, $amount: 7);
	}
}

.custom-drop-item-img {
	padding: 0.5rem;
	&:hover {
		background: $tertiary;
	}
}

.custom-drop-item-username {
	font-size: 1.25rem;
	color: $font-color;
	text-align: center;
	&:hover {
		background: $tertiary;
	}
}

.custom-drop-img {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
}

.dropdown-menu {
	box-shadow: 0 0 8px 0 rgba(176, 176, 176, 0.496);
}
