@import "../../../styles/variables";
@import "../../../styles/functions";

form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;

	input {
		background-color: transparent;
		border: none;

		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			border: none;
		}
		&::placeholder {
			color: $font-color;
		}
	}
}

@media (max-width: 576px) {
	form {
		width: 100%;
	}
}

.icons {
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		@include transition(all, 0.25s, ease-in-out);
		background: lighten($color: $light-tertiary, $amount: 7);
	}
}
