<header class="d-flex justify-content-between mb-4">
	<form
		class="d-flex w-50 bg-light-primary rounded-3 py-1 px-3"
		role="search"
	>
		<i class="bi bi-search"></i>
		<input
			class="form-control w-100 text-font-color"
			type="search"
			placeholder="Search game..."
			aria-label="Search"
		/>
	</form>
	<div class="d-flex gap-3 h-100">
		<div class="icons">
			<i class="bi bi-three-dots"></i>
		</div>
		<div class="icons">
			<i class="bi bi-broadcast"></i>
		</div>
		<div class="icons">
			<i class="bi bi-bell-fill position-relative">
				<span
					class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-primary rounded-circle"
				>
					<span class="visually-hidden">unread messages</span>
				</span>
			</i>
		</div>
		<div class="icons">
			<i class="bi bi-person-circle"></i>
		</div>
	</div>
</header>
