<div class="home d-flex gap-lg-5">
	<!-- Left Column -->
	<div class="left-col col-lg-8 flex-grow-1">
		<!-- Cover -->
		<div
			class="p-4 px-md-5 py-md-4 mb-4 rounded-3 text-white bg-light-primary d-flex flex-column gap-1"
		>
			<div class="content col-lg-6">
				<h2 class="display-5 fw-bold">Fortnite</h2>
				<h3 class="fs-6 fw-semibold">New Season</h3>
				<p class="fw-light fs-6">
					'Play the new Fortnite Season: Vibin', where the Island is
					one giant party! Drop into Season 3 and spread the good
					vibes!
				</p>
				<button class="btn btn-primary px-5 text-white">
					Play Free
				</button>
			</div>
		</div>

		<!-- Games -->
		<div class="d-flex mb-4 flex-column gap-3">
			<div class="d-flex justify-content-between">
				<h3>Games Category</h3>
				<div class="d-flex gap-2">
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						Most Popular
					</button>
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						Action
					</button>
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						New
					</button>
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						Free
					</button>
					<button class="btn btn-link text-font-color link-offset-2">
						View More
					</button>
				</div>
			</div>
			<div class="d-flex gap-3">
				<!-- Card 1 -->
				<div class="card col-4 flex-shrink-1">
					<img src="assets/images/games/1.jpg" alt="game" />
					<div class="card-body">
						<h5 class="card-title">Fortnite</h5>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Nesciunt nihil explicabo debitis deleniti
							sapiente ipsum voluptates praesentium reiciendis,
							molestiae deserunt, quae vitae veritatis itaque
							quasi animi voluptatem hic incidunt sequi.
						</p>
						<a href="#" class="btn btn-primary">Play Now</a>
					</div>
				</div>

				<!-- Card 2 -->
				<div class="card col-4 flex-shrink-1">
					<img src="assets/images/games/1.jpg" alt="game" />
					<div class="card-body">
						<h5 class="card-title">Fortnite</h5>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Nesciunt nihil explicabo debitis deleniti
							sapiente ipsum voluptates praesentium reiciendis,
							molestiae deserunt, quae vitae veritatis itaque
							quasi animi voluptatem hic incidunt sequi.
						</p>
						<a href="#" class="btn btn-primary">Play Now</a>
					</div>
				</div>

				<!-- Card 3 -->
				<div class="card col-4 flex-shrink-1">
					<img src="assets/images/games/1.jpg" alt="game" />
					<div class="card-body">
						<h5 class="card-title">Fortnite</h5>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Nesciunt nihil explicabo debitis deleniti
							sapiente ipsum voluptates praesentium reiciendis,
							molestiae deserunt, quae vitae veritatis itaque
							quasi animi voluptatem hic incidunt sequi.
						</p>
						<a href="#" class="btn btn-primary">Play Now</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Most Played Games -->
		<div class="d-flex mb-4 flex-column gap-3">
			<h3>Most Played Games</h3>
			<div class="d-flex gap-3">
				<!-- Card 1 -->
				<div class="card col-4 flex-shrink-1 bg-tertiary rounded-4">
					<img
						src="assets/images/games/1.jpg"
						alt="game"
						class="card-img"
					/>
					<div class="card-body text-font-color">
						<h5 class="card-title">Fortnite</h5>
						<p class="card-text">10M Players</p>
					</div>
				</div>

				<!-- Card 2 -->
				<div class="card col-4 flex-shrink-1 bg-tertiary rounded-4">
					<img
						src="assets/images/games/1.jpg"
						alt="game"
						class="card-img"
					/>
					<div class="card-body text-font-color">
						<h5 class="card-title">Fortnite</h5>
						<p class="card-text">10M Players</p>
					</div>
				</div>

				<!-- Card 3 -->
				<div class="card col-4 flex-shrink-1 bg-tertiary rounded-4">
					<img
						src="assets/images/games/1.jpg"
						alt="game"
						class="card-img"
					/>
					<div class="card-body text-font-color">
						<h5 class="card-title">Fortnite</h5>
						<p class="card-text">10M Players</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Right Column -->
	<div class="right-col col-lg-4 flex-shrink-1 d-flex flex-column gap-3">
		<!-- Mega Sale -->
		<div
			class="p-5 mb-4 rounded-4 text-white bg-light-primary d-flex flex-column gap-3"
		>
			<h2 class="fw-bold">Mega Sale</h2>
			<!-- Row 1 -->
			<div class="content row p-3 d-flex align-items-center rounded-3">
				<div class="col-4">
					<img src="assets/images/games/1.jpg" alt="game" />
				</div>
				<div class="col-8 d-flex flex-column justify-content-center">
					<h3 class="fs-6 fw-semibold">Fortnite</h3>
					<div class="d-block">
						<span
							class="text-decoration-line-through fw-light text-font-color"
							>$44.99</span
						>
						<span class="mx-2">$35.99</span>
					</div>
				</div>
			</div>

			<!-- Row 2 -->
			<div class="content row p-3 d-flex align-items-center rounded-3">
				<div class="col-4">
					<img src="assets/images/games/1.jpg" alt="game" />
				</div>
				<div class="col-8 d-flex flex-column justify-content-center">
					<h3 class="fs-6 fw-semibold">Fortnite</h3>
					<div class="d-block">
						<span
							class="text-decoration-line-through fw-light text-font-color"
							>$44.99</span
						>
						<span class="mx-2">$35.99</span>
					</div>
				</div>
			</div>

			<!-- Row 3 -->
			<div class="content row p-3 d-flex align-items-center rounded-3">
				<div class="col-4">
					<img src="assets/images/games/1.jpg" alt="game" />
				</div>
				<div class="col-8 d-flex flex-column justify-content-center">
					<h3 class="fs-6 fw-semibold">Fortnite</h3>
					<div class="d-block">
						<span
							class="text-decoration-line-through fw-light text-font-color"
							>$44.99</span
						>
						<span class="mx-2">$35.99</span>
					</div>
				</div>
			</div>

			<!-- Row 4 -->
			<div class="content row p-3 d-flex align-items-center rounded-3">
				<div class="col-4">
					<img src="assets/images/games/1.jpg" alt="game" />
				</div>
				<div class="col-8 d-flex flex-column justify-content-center">
					<h3 class="fs-6 fw-semibold">Fortnite</h3>
					<div class="d-block">
						<span
							class="text-decoration-line-through fw-light text-font-color"
							>$44.99</span
						>
						<span class="mx-2">$35.99</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Latest Game -->
		<div class="position-relative bg-tertiary flex-grow-1 rounded-4">
			<img
				src="assets/images/games/1.jpg"
				alt="game"
				class="w-100 h-100 object-fit-contain"
			/>
			<button
				class="position-absolute btn btn-primary btn-lg px-4 available-btn"
			>
				Available Now
			</button>
		</div>
	</div>
</div>
