@import "../../../styles/variables";
@import "../../../styles/functions";

.left-col {
	.card {
		@include transition();
		&:hover {
			@include transition();
			transform: scale(1.05);
			box-shadow: 0px 0px 15px 0 rgba(221, 221, 221, 0.447);
		}
	}
}

.right-col {
	.row {
		// @include transition();
		cursor: pointer;

		// &:hover {
		// 	@include transition();
		// 	box-shadow: 0px 0px 15px 0 rgba(143, 143, 143, 0.377);
		// }
	}
	.available-btn {
		@include transition();
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		box-shadow: 0px 0px 15px 0 rgba(143, 143, 143, 0.377);
	}
}
