@import "../../../styles/variables";
@import "../../../styles/functions";

.left-col {
	.card {
		@include transition();
		cursor: pointer;
		&:hover {
			@include transition();
			transform: scale(1.05);
			box-shadow: 0px 0px 15px 0 rgba(190, 190, 190, 0.447);

			.card-title {
				@include transition();
				color: $primary;
			}
		}
	}
}

.right-col {
	.row {
		@include transition();
		cursor: pointer;

		&:hover {
			@include transition();
			background-color: darken($color: $light-primary, $amount: 3);
		}
	}
	.available-btn {
		@include transition();
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		box-shadow: 0px 0px 15px 0 rgba(143, 143, 143, 0.377);
	}
}
