<div class="home d-flex gap-lg-5">
	<!-- Left Column -->
	<div class="left-col col-lg-8 flex-grow-1">
		<div class="card text-bg-dark mb-5 rounded-4">
			<img
				src="assets/cover/{{ homeSectionData.coverGame.image }}"
				class="card-img object-fit-cover rounded-4 opacity-100"
				alt="{{ homeSectionData.coverGame.title }}"
			/>
			<div
				class="card-img-overlay col-5 d-flex flex-column gap-2 ps-5 pb-5 justify-content-end"
				style="
					background: linear-gradient(
						to right,
						rgba(0, 0, 0, 0.6),
						rgba(0, 0, 0, 0.5),
						rgba(0, 0, 0, 0.4),
						rgba(0, 0, 0, 0.4),
						rgba(0, 0, 0, 0)
					);
					text-shadow: 0 0 5px rgba(169, 169, 169, 0.5);
				"
			>
				<h2 class="card-title">
					{{ homeSectionData.coverGame.title }}
				</h2>
				<h5 class="card-subtitle">
					{{ homeSectionData.coverGame.subtitle }}
				</h5>
				<p class="card-text">
					<small>
						{{ homeSectionData.coverGame.bodyText }}
					</small>
				</p>
				<a [href]="homeSectionData.coverGame.buttonUrl">
					<button class="btn btn-primary px-5 text-white">
						Play Free
					</button>
				</a>
			</div>
		</div>

		<!-- Category Games -->
		<div class="d-flex mb-4 flex-column gap-3">
			<div class="d-flex justify-content-between">
				<h3>Games Category</h3>
				<div class="d-flex gap-2">
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						Most Popular
					</button>
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						Action
					</button>
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						New
					</button>
					<button class="btn btn-tertiary btn-sm px-4 rounded-5">
						Free
					</button>
					<button class="btn btn-link text-font-color link-offset-2">
						View More
					</button>
				</div>
			</div>
			<div class="d-flex gap-4">
				<!-- Card -->
				<div
					class="card col-4 flex-shrink-1 rounded-4 bg-light-primary text-font-color"
					*ngFor="let game of homeSectionData.categoryGames"
				>
					<img
						src="assets/avatar/{{ game.image }}"
						alt="{{ game.title }}"
						class="card-img-top rounded-top-4"
					/>
					<div class="card-body">
						<h5 class="card-title">{{ game.title }}</h5>
						<p class="card-text text-font-color">
							<i class="bi bi-currency-rupee"></i>
							{{ game.price }}
						</p>
						<!-- <a href="#" class="btn btn-primary">Play Now</a> -->
					</div>
				</div>
			</div>
		</div>

		<!-- Most Played Games -->
		<div class="d-flex mb-4 flex-column gap-3">
			<h3>Most Played Games</h3>
			<div class="d-flex gap-3">
				<!-- Card -->
				<div
					class="card col-4 flex-shrink-1 bg-tertiary rounded-4"
					*ngFor="let game of homeSectionData.mostPlayedGames"
				>
					<img
						src="assets/avatar/{{ game.image }}"
						alt="{{ game.title }}"
						class="card-img-top rounded-top-4"
					/>
					<div class="card-body text-font-color">
						<h5 class="card-title">{{ game.title }}</h5>
						<p class="card-text">
							<small>
								{{ game.downloads }}
								<i class="bi bi-person-fill"></i>
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Right Column -->
	<div class="right-col col-lg-4 flex-shrink-1 d-flex flex-column gap-3">
		<!-- Mega Sale -->
		<div
			class="p-5 mb-4 rounded-4 text-white bg-light-primary d-flex flex-column gap-3"
		>
			<h2 class="fw-bold">Mega Sale</h2>
			<!-- Row -->
			<div
				class="content row py-2 px-0 d-flex align-items-center rounded-3"
				*ngFor="let item of homeSectionData.megaSaleList"
			>
				<div class="col-4">
					<img
						src="assets/avatar/{{ item.image }}"
						alt="{{ item.title }}"
						class="w-100 rounded-2"
					/>
				</div>
				<div
					class="col-8 d-flex flex-column justify-content-center text-font-color"
				>
					<h3 class="fs-6 fw-semibold">{{ item.title }}</h3>
					<div class="d-block">
						<span class="text-decoration-line-through fw-light"
							><i class="bi bi-currency-rupee"></i>
							{{ item.prevPrice }}</span
						>
						<span class="mx-2"
							><i class="bi bi-currency-rupee"></i>
							{{ item.price }}</span
						>
					</div>
				</div>
			</div>
		</div>

		<!-- Latest Game -->
		<div class="position-relative bg-tertiary rounded-4">
			<img
				src="assets/avatar/{{
					homeSectionData.availableGameSection.image
				}}"
				alt="{{ homeSectionData.availableGameSection.title }}"
				class="w-100 object-fit-cover rounded-4"
			/>
			<button
				class="position-absolute btn btn-primary btn-lg px-4 available-btn shadow-lg"
			>
				Available Now
			</button>
		</div>
	</div>
</div>
