// $primary: #26e350;
$primary: #fc7b06;
$secondary: #1e1e1e;
$tertiary: #2e2e2e;
// $light-primary: #183d06;
$light-primary: #4b311a;
$light-tertiary: #353535;
$font-color: #bfbfbf;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
