@import "../../../styles/variables";
@import "../../../styles/functions";

.background-container {
	background-image: url("../../../assets/bg-cover.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.blur {
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contianer {
	background-color: grey;
	display: flex;
	gap: 2rem;
}

.logo {
	height: 100px;
}

input {
	width: 100%;
	padding: 0.6rem 1rem;
	// border-radius: 5px;
}
