footer {
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #84848479;
	height: 50px;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: end;
	position: relative;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
